* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    background-repeat: repeat;
}
/* Header */

.head{
    position: relative;
    left: 260px;
    top: 10px;
    color: #ffffff;
    background-color: #4aaaa5;
    margin: 2px 2px 2px 2px;
    padding: 5px 5px;
    border-bottom: 2px solid #dddddd;
}

.nav{
    position: absolute;
    right: 200px;
}
/* container */
.container {
    min-height: 100%;
    padding: 5%;
    position: relative;
}
.row{
    padding: 50px
}
.main {
    position: relative;
    overflow: auto;
    background-color: #ffffff;
    width: 960px;
    height: 600px;
}
.box1 {
    display: block;
    margin: 2px 2px 2px 2px;
    padding: 5px 5px;
    border-bottom: 2px solid #dddddd;
    color: #4aaaa5;
}
.box2{
display: block;
padding-top: 5px;
}
p{
text-align: left;
padding-top: 10px;
letter-spacing: 2px;
line-height: 24px;
font-family: Arial, Helvetica, sans-serif;
color: #777777
}

/* footer */
#footer {
    background-color: #666666;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    height: 50px;
    margin-top: -50px;
    clear: both;
    color: white;
    
}
h6 {
    text-align: center;
}